:root {
    --primary-color: #2f303a;
    --secondary-color: #f5f4fa;
    --accent-color: #E5E5E5;
    --common-white: #FFFFFF;
    --main-font: 'Roboto', sans-serif;
    --title-size: 44px;
    --text-size: 14px;
    }
    .body {
      font-size: var(--text-size);
      font-family: var(--main-font);
      letter-spacing: 0.03em;
      color: var(--primary-text-color);
      background-color: var(--primary-white-color);
}
    .header {
        width: 1600px;
        margin: 0 auto;
        padding: 16px 55px 45px;
        background-color: var(--common-white);
        display: flex;
        align-items: center;             
        }
    * {
        margin: 0;
        padding: 0;
    }
    
    .navigation-link {
        font-family: var(--main-font);
        color: #212121;
        text-decoration: none;
        font-size: 14px;
    }
    .list {
        list-style: none;
        margin-right: 215px;
        }
    .navigation-list {
        display: flex;
    }
    .navigation-item {
        margin-right: 50px;

    }
    .logo {
        margin-right: 93px;
        text-decoration: none;
        color: #212121;
        font-size: 26px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
    }
    .logo-dot {
        color: #2196F3;
        }
        .logo-dote {
          color: #FFFFFF;
        }

    .contacts {
        display: flex; 
        }
    .contacts-list {
        font-family: var(--main-font);
        margin-right: 50px;
    }
    .email {
        color: #2196F3;
        text-decoration: none;
    }
    .tell {
       color: #757575;
       font-family: var(--main-font);
       text-decoration: none;
    }
    .busines {
        position: absolute;
        width: 1600px;
        height: 600px;
        left: 0px;
        top: 80px;
        background-color: var(--primary-color);
    }
    .busines-title {
        font-family: var(--main-font)
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        width: 696px;
        height: 120px;
        color: var(--common-white);
        margin-right: 30px;
    }

    .content {
     padding: 200px 452px 200px 452px;
    }
    .btn {
        font-family: var(--main-font)
        font-size: 16px;
        text-transform: uppercase;
        border: none;
        background-color: #2196f3;
        border-radius: 4px;
        font-style: normal;
        color: var(--common-white);
        font-weight: 700;
        letter-spacing: 0.06em;
        width: 200px;
        height: 50px;
        left: 700px;
        top: 430px;}
    .busines-bottom {
        margin-top: 30px;
        margin-left: 248px;
        margin-right: 248px;
        }
       
             
    .footer {
        width: 1600px;
        margin: 0 auto;
        background-color: #2F303A;
        height: 252px;
        }
    .footer-bottom {
        margin-left: 215px;
        margin-top: 60px;
        margin-bottom: 60px;
        
        }
             
     .button-list {
        display: flex;
        }    
      .btn-portfolio {
        font-family: var(--main-font)
        font-size: 16px;
        text-transform: uppercase;
        border: none;
        border-radius: 4px;
        font-style: normal;
        color: #f5f4fa;
        font-weight: 700;
        letter-spacing: 0.06em;
        }
        .btn-first {

        }
     .studio {
      color: #2196F3;
     }
     .portfolio-name {
      color: #2196F3;
     }
     .email-second {
      color: #757575;
      line-height: 16px;
      letter-spacing: 0.02em;
      text-decoration: none;
     }